<a href="https://colab.research.google.com/github/Mounaiyk/practice-data-manipulation/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import packages**

In [ ]:
import requests
import json
import csv
import pandas as pd

**Fetch Data**

In [ ]:
response = requests.get("https://anapioficeandfire.com/api/houses/378")
targaryen_house = response.json()
targaryen = []
# resp = requests.get(targaryen_house["swornMembers"][0])
# print(resp.json())
for x in targaryen_house["swornMembers"]:
  response = requests.get(x)
  targaryen.append(response.json())

**Select relevant data**

In [ ]:
def select_data(data):
  return {
      "name":data["name"],
      "gender":data["gender"],
      "culture":data["culture"],
      "born":data["born"],
      "died":data["died"],
      "titles":data["titles"],
  }

targaryens = []

for x in targaryen:
  targaryens.append(select_data(x))

**Create csv**

In [ ]:
columns = ["name", "gender", "culture", "born", "died", "titles"]

with open('targaryen.csv',"w", newline='' ) as file:
  f = csv.writer(file)
  f.writerow(columns)
  for t in targaryens:
    values = [t[c] for c in columns]
    f.writerow(values)

In [ ]:
df = pd.read_csv("targaryen.csv")

In [ ]:
df.head()

,name,gender,culture,born,died,titles
0,Addam Velaryon,Male,Valyrian,"In 114 AC, at Hull","In 130 AC, at Tumbleton",['Ser']
1,Aegon Targaryen,Male,Valyrian,"In 281 AC or 282 AC, at Dragonstone","In 283 AC (Supposedly), at King's Landing",['']
2,Aegon Targaryen,Male,Valyrian,In 26 AC,"In 43 AC, at Gods Eye",['Prince']
3,Aegon Targaryen,Male,Valyrian,NaN,NaN,['Prince']
4,Aegon Targaryen,Male,Valyrian,In or between 50 AC and 59 AC,NaN,['Prince']